body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f8f7f8;
}

html {
  box-sizing: border-box;
}

:root {
  --primary-color: #f8f7f8;
  --secondary-color: #302e2f;
  --tertiary-color: #17c0b5;
  --quaternary-color: #012a5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
