body {

  margin: 0;
  background-color: #f8f7f8;
}

html {
  box-sizing: border-box;

  scroll-behavior: smooth;
}

:root {
  --primary-color: #f8f7f8;
  --secondary-color: #302e2f;
  --tertiary-color: #17c0b5;
  --quaternary-color: #012a5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}


h3{
    font-family: "Playfair Display";
}
h4{
    font-family: "Pavanam";
}
p{
    font-family: "Poppins";
font-size: 16px;
}