---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
import SektionOverskrift from "../components/SektionOverskrift.astro";
import BlivFrivillig from "../components/BlivFrivillig.astro";
import Carousel from "../components/Carousel.astro";
import TilmeldDig from "../components/TilmeldDig.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero_section.astro";
import Introduktion from "../components/Introduktion.astro";
import Tilbyder from "../components/Tilbyder.astro";
import TilbyderCard from "../components/TilbyderCard.astro";
import Intro from "../components/Intro.astro";
import InfoBox from "../components/InfoBox.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Misbrugsportalen</title>
    <link rel="icon" type="image/x-icon" href="./imgs/pmpico.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Pavanam&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
  </head>
  <body>    
    <div id="home"></div>
    <Navigation />
    <Hero />
    <Introduktion id="introduktion" />
    <Carousel />
    <BlivFrivillig>
      <SektionOverskrift id="bliv_frivillige" overskrift="BLIV FRIVILLIG" billede="./imgs/girl.webp" />
    </BlivFrivillig>
    <SektionOverskrift id="om_os" overskrift="om os" billede="./imgs/people.webp" />
    <Tilbyder />
    <TilbyderCard />
    <Intro />
    <InfoBox />
    <SektionOverskrift id="tilmeld_dig" overskrift="Tilmeld Dig" billede="./imgs/cup.webp" />
    <TilmeldDig>
      <Form />
    </TilmeldDig>
    <div id="kontakt_os"></div>
    <Footer />
  </body>
</html>
