---

---

<section class="herocontainer">
  <img class="hero" src="./svg/hero.svg" alt="hero" />

  <h1 class="slogan">BLIV FRIVILLIG <br /><span> GØR EN FORSKEL</span></h1>
  <div class="knap"><a href="#tilmeld_dig">Tilmeld dig</a></div>
  <div class="pil"><a href="#introduktion"><img class="hero" src="./svg/pil.svg" alt="hero" /></a></div>
</section>

<style>
  .herosection {
    position: relative;
    width: 100%;
    height: 120%;
  }
  .hero {
    width: 100%;
    padding-bottom: 70px;
  }

  .slogan {
    position: absolute;
    top: 55%;
    left: 18%;
    transform: translate(-50%, -50%);
    font-family: "Playfair Display";
    font-size: 68px;
    color: var(--quaternary-color);
    text-align: left;
    font-weight: 500;
  }
  .knap a {
    z-index: 10;
    color: var(--primary-color);
    pointer-events: auto;
    font-family: "Poppins";
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
    top: 76%;
    left: 4%;
    text-align: center;
    padding: 12px 34px;
    background-color: var(--quaternary-color);
  }

  span {
    font-size: 36px;
  }
  .pil {
    width: 8%;
    position: absolute;
    top: 90%;
    left: 49%;
    transform: translate(-50%, -50%);
  }
</style>
