---

---

<section class="herocontainer">
  <picture>
    <source srcset="./imgs/hero_mobil1.webp" media="(max-width:780px)">
    <img class="hero" src="./imgs/hero_result.webp" alt="hero">
  </picture>

  <h1 class="slogan">BLIV FRIVILLIG <br /><span> GØR EN FORSKEL</span></h1>
  <div class="knap desk"><a href="#tilmeld_dig">Tilmeld dig</a></div>
  <div class="knapv2 mobil"><a href="#tilmeld_dig">Tilmeld dig</a></div>
  <div class="pil"><a href="#introduktion"><img class="hero" src="./svg/pil.svg" alt="hero" /></a></div>
</section>

<style>
.desk {
    display: block;
}
.mobil {
    display: none;
}
  .herosection {
    position: relative;
    width: 100%;
   
  }
  .hero {
    width: 100%;
    padding-bottom: 70px;
  }

  .slogan {
    position: absolute;
    top: 55%;
    left: 18%;
    transform: translate(-50%, -50%);
    font-family: "Playfair Display";
    font-size: 68px;
    color: var(--quaternary-color);
    text-align: left;
    font-weight: 500;
  }
  .knap a {
    z-index: 10;
    color: var(--primary-color);
    pointer-events: auto;
    font-family: "Poppins";
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
    top: 76%;
    left: 4%;
    text-align: center;
    padding: 12px 34px;
    background-color: var(--quaternary-color);
  }

  span {
    font-size: 36px;
  }
  .pil {
    width: 8%;
    position: absolute;
    top: 90%;
    left: 49%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 800px){
  .desk {
    display: none;
  }
  .mobil {
    display: grid;
    width: 200px;
    margin: 0 auto;
  }
  .slogan {
    top: 63%;
    left: 50%;
    font-size: 42px;
    text-align: center;
  }
  .knapv2 a {
    z-index: 10;
    color: var(--primary-color);
    pointer-events: auto;
    font-family: "Poppins";
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    width: 200px;
    text-align: center;
    padding: 12px 34px;
    background-color: var(--quaternary-color);
  }
  .pil{
    top: 88%;
    width: 10%;
  }
span{
  font-size: 25px;
}
.hero{
  padding-bottom: 20px;
}
}
</style>




