<div class="intro"><p>Vores mål er at skabe et sted, hvor pårørende kan trække vejret, finde ro og få den støtte, de har brug for – uden at blive mødt af fordømmelse eller krav.</p></div>
<style>
.intro{
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 4rem;
}

</style>