---
const { id } = Astro.props;
---

<div id=`${id}` class="introduktion_section">
<div class="tekst_indhold">
    <div>
<h3>Bliv frivillig i Pårørendes Netværk – støt dem, der står på sidelinjen</h3>
<p class="desk">Når én har et misbrug, rammer det hele familien. Hos Pårørendes Netværk hjælper vi dem, der står tæt på – med rådgivning, samtaler og fællesskaber, hvor pårørende kan få støtte og finde ro. Når én har et misbrug, rammer det hele familien. Hos Pårørendes Netværk hjælper vi dem, der står tæt på – med rådgivning, samtaler og fællesskaber, hvor pårørende kan få støtte og finde ro.</p>
<div class="mobil">
    <img class="towerMobil" src="./svg/VectorTowers.svg" alt="pattern">
    <p>Når én har et misbrug, rammer det hele familien. Hos Pårørendes Netværk hjælper vi dem, der står tæt på – med rådgivning, samtaler og fællesskaber, hvor pårørende kan få støtte og finde ro. Når én har et misbrug, rammer det hele familien. Hos Pårørendes Netværk hjælper vi dem, der står tæt på – med rådgivning, samtaler og fællesskaber, hvor pårørende kan få støtte og finde ro.</p>
</div>
</div>

<div>
<h4>Vi har brug for dig.</h4>
<p>Som frivillig i Pårørendes Netværk kan du være med til at gøre en kæmpe forskel – uanset om du har faglig erfaring, selv er tidligere pårørende eller bare har lyst til at støtte mennesker i en svær tid. Du kan fx hjælpe med:
</p>
<ul>
    <li>At være samtalepartner for pårørende</li>
    <li>At facilitere netværksgrupper</li>
    <li>At planlægge og afholde arrangementer</li>
    <li>Eller hjælpe til med praktiske opgaver og events</li>
</ul>
<p>Uanset hvor meget tid du har, eller hvilken baggrund du kommer med, kan du bidrage.</p>
<p>Vi sørger for, at du bliver klædt godt på og bliver en del af et stærkt fællesskab af frivillige, der brænder for at gøre en forskel.</p>
</div>
<div>
<h4>Vil du være med?</h4>
<p>Så læs mere her og send os en uforpligtende ansøgning. Vi glæder os til at høre fra dig!</p>
</div>

<img class="desktop" src="" alt="">
</div>
<img class="tower desk" src="./svg/VectorTowers.svg" alt="pattern">
</div>


<style>
.desk {
    display: block;
}
.mobil {
    display: none;
}
.tower {
position: absolute;
top: 20px;
left: 75px;
width: 100px;
transform: rotate(180deg);
}
.introduktion_section{
    scroll-margin-top: 10vw;
    position: relative;
}


h3{
    font-size: 32px;
    margin-bottom: 40px;

}
h4{
    font-size: 24px;
    color: var(--quaternary-color);
    margin-top:30px;
    margin-bottom: 5px;
}


ul{
    list-style-type: circle;
    margin-top: 20px;
    margin-bottom: 20px;
}
li{
    font-family: "Poppins";
font-size: 16px;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 25px;
}
.introduktion_section{

}

.tekst_indhold{
display: flex;
flex-direction: column;
width: 610px;
  margin: 5rem auto;
}

 @media (max-width: 800px) {
.desk {
    display: none;
}
.mobil {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
}
.introduktion_section{
    scroll-margin-top: 10vw;
}


h3{
    font-size: 22px;
    margin-bottom: 25px;

}
h4{
    font-size: 20px;
    color: var(--quaternary-color);
    margin-top:30px;
    margin-bottom: 5px;
}
p{
    font-size: 14px;
}

ul{
    list-style-type: circle;
    margin-top: 20px;
    margin-bottom: 20px;
}
li{
    font-family: "Poppins";
font-size: 14px;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 25px;
}

.tekst_indhold{
    width: 95%;
  
}

 }
</style>