---

---

<nav>
  <a href="#"><img src="./imgs/pmp_logo.webp" alt="PMP Logo" /></a>
  <ul>
    <li><a href="#">HOME</a></li>
    <li><a href="#">BLIV FRIVILLIG</a></li>
    <li><a href="#">OM OS</a></li>
    <li><a href="#">TILMED DIG</a></li>
    <li><a href="#">KONTAKT OS</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-inline: 2rem;
    background-color: white;
    position: sticky;
    top: 0;
  }

  nav img {
    width: 200px;
  }

  nav ul {
    display: flex;
    gap: 3rem;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    font-family: "Pavanam", sans-serif;
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: solid 3px var(--tertiary-color);
    padding-bottom: 0.5rem;
  }
</style>
