<section class="grid_tilbud"><div class="tilbud">
    <h2>Hvad tilbyder Pårørendes Netværk?</h2>
    <p>Hos Pårørendes Netværk er vi her for dem, der står midt i en svær hverdag som pårørende til én med et misbrug. Det kan være en partner, et barn, en forælder eller en ven – uanset relationen kan det være hårdt at stå på sidelinjen. Vi tilbyder et trygt fællesskab, hvor man ikke skal stå alene med sine tanker og bekymringer.</p>
    <p>Gennem vores frivillige og faglige kræfter tilbyder vi blandt andet:</p>
</div>
<div class="figur_tilbud">
    <img src="/svg/figur_tilbud.svg" alt="figur"></div></section>
<style>
    .tilbud{
        margin: 0 auto;
        max-width: 500px;
        padding-top: 40px;
      margin-right: 180px;
      text-align: c;
    
    }
    .grid_tilbud{
        display: grid;
        grid-template-columns: 3fr 1fr; 
    }
    .figur_tilbud img{
        width: 15%;
        padding-top: 40px;
    }
    h2{
        margin-bottom: 2rem;
        text-align: center;
    }
  
</style>